* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/back_tile.png");
  color: rgb(50, 50, 50);
  font-family: Orbitron, Open sans, Arial;
}

.logo {
  font-family: Audiowide, Open sans, Arial;
}

a {
  color: rgb(50, 50, 50);
  text-decoration: none;
}

a:active {
  color: rgb(50, 50, 50); 
}

a:focus {
  color: rgb(50, 50, 50); 
}

a:hover {
  color: rgb(50, 50, 50);
}

a:link {
  color: rgb(50, 50, 50);
}

a:visited {
  color: rgb(50, 50, 50);
}

h1 {
  margin: 10px 0;
}

h2 {
  margin: 5px 0;
}
